.app {
  width: 100%;
  min-height: 100vh;
  background: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ff5477;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff4466;
}
